.background-radial-gradient {
  background-color: hsl(167, 79%, 34%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(165, 37%, 59%) 15%,
      hsl(165, 40%, 50%) 35%,
      hsl(164, 44%, 48%) 75%,
      hsl(165, 97%, 30%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(165, 37%, 45%) 15%,
      hsl(164, 47%, 44%) 35%,
      hsl(164, 44%, 49%) 75%,
      hsl(165, 87%, 29%) 80%,
      transparent 100%
    );
}

.c {
  fill: none;
  stroke: rgb(49 196 141);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.st0 {
  fill: rgb(49 196 141);
}

.footer-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(4 108 78 / var(--tw-bg-opacity));
}

.referral-form {
  border-radius: 50px;
}
